/* ===== CSS VARIABLAR ===== */

:root {
	/*Färger*/
	--primary-color: #444b5c;
	--secondary-color: #ff5a09;
	--shadow-color: #1d1e22;
	--background-color: #d4d4dc;

	--primary-border-color: #be4f0c;
	--secondary-border-color: #393939;

	--header-text-color: #cbcbcf;
	--heading-text-color: #393f4d;
	--text-color: #1d1e22;
	--hyper-text-color: #ff5a09;
	--muted-text-color: #415f61;

	--hover-color: #feda6a;
	--toggle-button-color: #accad1;

	--overlay-color: rgba(0, 0, 0, 0.5);
	--dropdown-menu-background: #393f4d45;

	--aside-text-color: #160230;
	--aside-background-color: #393f4d;
	--aside-card-background-color: #c7b44a;

	--code-snippet-background-color: #393939;
	--code-snippet-text-color: #d4d4dc;
	--code-snippet-border: 2px solid #393939;

	/* Övergångs längd i sekunder*/
	--transition-quick: 0.15s;
	--transition-standard: 0.3s;
	--transition-slow: 0.4s;

	/* Höjd storlekar*/
	--header-height: clamp(60px, 10vw, 80px);
	--footer-height: 100px;

	/* Räknare för rubiker */
	counter-reset: headings;
}

/* ===== VARIABLAR FÖR MÖRKT LÄGE ===== */

body.dark-mode {
	--primary-color: #393f4d;
	--secondary-color: #4b9469;
	--shadow-color: #1d1e22;
	--background-color: #1d1e22;

	--primary-border-color: #feda6a;
	--secondary-border-color: #393939;

	--header-text-color: #cacad2;
	--heading-text-color: #feda6a;
	--text-color: #d4d4dc;
	--hyper-text-color: #ff5a09;
	--muted-text-color: #3d5a6d;

	--hover-color: #feda6a;
	--toggle-button-color: #393939;

	--overlay-color: rgba(0, 0, 0, 0.5);
	--dropdown-menu-background: #393f4d25;

	--aside-text-color: #160230;
	--aside-background-color: #393f4d;
	--aside-card-background-color: #b89f5e;

	--code-snippet-background-color: #393939;
	--code-snippet-text-color: #d4d4dc;
	--code-snippet-border: 2px solid #ec7f37;
}

/* Globara attributer för alla element */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* Gör så att padding och border räknas in i elementets totala bredd och höjd ( ändrar hur "width" och "height" attributen kalkyleras) */
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background: var(--background-color);
	color: var(--text-color);
	min-height: 100dvh;
}

/* ===== Tillgänglighet ===== */

.skip-link {
	position: absolute;
	top: -40px;
	left: 0;

	padding: 8px 16px;
	background-color: var(--secondary-color);
	color: white;

	text-decoration: none;
	font-weight: bold;
	border-radius: 0 0 4px 0;

	/* Över allt annat*/
	z-index: 101;
}

.skip-link:focus {
	top: 0;
	outline: 3px solid var(--primary-color);
}

/* ===== Fous indikator för navigation med tangentbord ===== */

a:focus-visible,
button:focus-visible,
input:focus-visible {
	outline: 3px solid var(--secondary-color);
	outline-offset: 2px;
}

.switch input:focus-visible + .slider {
	outline: 3px solid var(--secondary-color);
	outline-offset: 2px;
	border-radius: 50%;
}

/* ===== HEADER ===== */

/* Make this with rectangles with borders to the right and botom for some kind of 3D effect. sluta tänka på ängelska nu för fan. */
header {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;

	height: var(--header-height);
	padding: 1.2rem 1rem;

	background: var(--primary-color);
	color: var(--header-text-color);
	border-bottom: 1px solid var(--primary-border-color);

	transition: transform var(--transition-standard) ease;
}

/* Andvänds för att gömma/visa headern vid scrollning */
header.hide {
	transform: translateY(-100%);
}

/* ===== LOGA OCH NAVIGATION ===== */

.header-logo {
	display: flex;
	align-items: center;

	padding-right: 1rem;

	border-right: solid clamp(2px, 12px - 0.8vw, 8px) var(--primary-border-color);
}

/* Gör SVG loggan responsiv med färg temat */
.header-logo svg,
.header-logo text {
	fill: var(--header-text-color);
}

.header-navbar {
	display: flex;
	align-items: center;

	margin-left: auto;
	margin-right: 2rem;
}

/* Hambörgar menyn stannar gömd på större skärmar */
.navbar-menu-toggle {
	display: none;

	padding: 0.5rem;
	background: none;
	border: none;
	cursor: pointer;
}

.navbar-menu-toggle .bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;

	background-color: var(--header-text-color);
	border-radius: 5px;

	transition: all var(--transition-quick) ease-in-out;
}

.navbar-menu {
	display: flex;
	align-items: center;
	gap: 1.25rem;

	list-style: none;
	text-decoration: none;
}

.navbar-menu li a {
	display: block;
	width: max-content;

	padding: 0.75rem 1rem;

	font-size: 1.1rem;
	font-weight: 550;
	text-decoration: none;

	color: var(--header-text-color);

	border: var(--secondary-border-color) solid 2px;
	border-radius: 4px;

	transition: var(--transition-quick) ease-in;
}

.navbar-menu li a:hover {
	font-weight: 700;

	color: var(--secondary-color);
	background-color: var(--hover-color);
	box-shadow:
		0 2px 5px var(--shadow-color),
		0 4px 10px var(--shadow-color);
}

.navbar-menu li a:focus-visible {
	background-color: var(--hover-color);
	outline: 3px solid var(--secondary-color);
}

.navbar-menu-toggle:focus-visible {
	outline: 3px solid var(--secondary-color);
	outline-offset: 2px;
	border-radius: 4px;
}

.navbar-menu-toggle:focus-visible .bar {
	outline: none;
}

.active-link {
	font-weight: 800;
	border-bottom: 2px solid var(--primary-border-color);
}

/* Overlay som visas över main när menyn är öppen */
#overlay {
	position: fixed;
	inset: 0;

	background-color: var(--overlay-color);
	backdrop-filter: blur(2px);

	z-index: 8;

	opacity: 0;
	visibility: hidden;

	transition: opacity var(--transition-standard) ease;
}

/* ===== Mörkt/Ljust läge switch ===== */

.dark-mode-toggle-item {
	display: flex;
	align-items: center;
	gap: 0.8rem;

	margin-left: auto;
}

.navbar-dark-mode-label {
	font-size: 0.95rem;
	font-weight: 600;

	color: var(--header-text-color);
}
.switch {
	position: relative;

	width: 60px;
	height: 30px;

	background: var(--toggle-button-color);
	border-radius: 30px;

	cursor: pointer;
	flex-shrink: 0;

	transition: var(--transition-standard);
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	left: 4px;
	bottom: 4px;

	width: 22px;
	height: 22px;

	border-radius: 50%;
	background: linear-gradient(180deg, #ffcc89, #d8860b);

	transition: var(--transition-standard);
}

input:checked + .slider {
	transform: translateX(30px);
	background: linear-gradient(180deg, #777, #3a3a3a3a);
}

/* =====  Layout ===== */

main {
	display: grid;
	grid-template-columns: auto 1fr;

	width: 100%;
	padding: 0 1.5rem;
	margin: calc(5vw + 2.5rem) 0 2.5rem;

	min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

/* ===== SIDOMENY ===== */

aside {
	position: sticky;
	top: calc(var(--header-height) + 1rem);
	z-index: 10;

	height: fit-content;
	max-height: calc(100vh - var(--header-height) - 2rem);

	width: clamp(160px, 15vw, 280px);

	padding: 1.5rem 1em;
	background: var(--aside-background-color);
	border-radius: 10px;

	overflow-y: auto;
	scroll-behavior: smooth;
}

aside ul {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	list-style: none;
	text-decoration: none;
}

aside li a {
	display: block;
	padding: 1em 0.5em;

	font-weight: 600;
	text-decoration: none;

	color: var(--aside-text-color);
	background-color: var(--aside-card-background-color);
	border-radius: 6px;

	/* Incrementerar räknaren "headings" varje gång ny länk skapas */
	counter-increment: headings;
}

/* Lägger till nummering för varje länk i sidomenyn */
aside li a:before {
	content: counter(headings) ". ";
	font-weight: bold;
	color: var(--muted-text-color);
}

aside li a:hover {
	background-color: var(--hover-color);
	color: var(--secondary-color);
}

/* ===== ARTIKELINNEHÅLL ===== */

article {
	width: min(1100px, calc(100% - 1.5rem));
	max-width: 1100px;
	margin: 0 auto;

	padding: clamp(1rem, 2.5vw, 2.5rem);

	background: var(--background-color);
	border: 2px solid var(--secondary-border-color);

	min-height: calc(100vh - var(--header-height) - var(--footer-height) - 6rem);
}

article h1 {
	font-size: clamp(1.25rem, calc(4vw + 1rem), 3rem);
	text-align: center;

	margin-bottom: 1rem;
	padding-bottom: 0.5rem;

	color: var(--heading-text-color);
	border-bottom: 3px solid var(--primary-border-color);
}

article h2 {
	font-size: clamp(1.15rem, calc(2.5vw + 0.5rem), 2.5rem);
	color: var(--heading-text-color);
	margin-top: 2rem;
}

article h3 {
	font-size: clamp(1rem, calc(2vw + 0.5rem), 2rem);
	color: var(--heading-text-color);
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}
article h4 {
	font-size: clamp(0.8rem, calc(0.5vw + 0.5rem), 1.5rem);
	margin-bottom: 0.5rem;
}

article p {
	line-height: 1.6;
	margin: 1.2rem 0;
}

article ul,
article ol {
	margin-left: 2rem;
	margin-bottom: 1.2rem;
}

article table {
	width: 100%;
	border-collapse: collapse;
	margin: 1.5rem 0;
}

article th,
article td {
	text-align: left;
	padding: 2px 1rem;
	border: 1px solid var(--secondary-border-color);
}

article a {
	color: var(--hyper-text-color);
	text-decoration: none;
}

/* Code blocks */
article pre {
	margin: 1rem 0;
	padding: 1rem;

	font-size: 0.9rem;
	line-height: 1.4;
	font-family: "JetBrains Mono", ui-monospace, monospace;

	white-space: pre-wrap;
	overflow-x: auto;

	background-color: var(--code-snippet-background-color);
	color: var(--code-snippet-text-color);
	border: var(--code-snippet-border);
	border-radius: 5px;
}

article pre code {
	font-family: inherit;
	color: inherit;
}

/* ===== FOOTER ===== */

footer {
	height: var(--footer-height);
	padding: 1.5rem;

	text-align: center;

	background: var(--primary-color);
	color: var(--header-text-color);

	border-top: 5px solid var(--primary-border-color);
}

/* ===== MEDIA QUERIES ===== */

@media screen and (max-width: 1150px) {
	.navbar-menu {
		position: fixed;
		top: 0;
		right: 0;
		z-index: 9;

		flex-direction: column;
		align-items: flex-start;
		gap: 1.7rem;

		min-height: 150vh;
		width: clamp(180px, 25vw, 250px);

		padding: 5rem 1.5rem;
		border-left: 1px solid var(--primary-border-color);
		background-color: var(--dropdown-menu-background);
		backdrop-filter: blur(8px);

		/* Flyttar elementet till höger med hela sin längd */
		transform: translateX(100%);
		transition: var(--transition-standard) ease;
	}

	#overlay.show {
		opacity: 1;
		visibility: visible;
	}
	/* Andvänds för att visa/göma menyn*/
	.navbar-menu.show {
		/* Flyttar tillbaka elementet till sin start positon */
		transform: translateX(0);
	}

	.navbar-menu li a {
		font-size: 1.2rem;
		width: 100%;
		background-color: var(--primary-color);
	}

	.dark-mode-toggle-item {
		justify-content: space-between;

		width: 100%;
		padding: 0.75rem 0;
		padding-top: 1rem;
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		margin-left: 0;
	}

	.navbar-dark-mode-label {
		font-size: 1rem;
	}

	.navbar-menu-toggle {
		display: block;
		position: static;
		z-index: 10;
	}

	/* Make the bars in the navbar toggle form an "X" when the navbar is shown */
	.navbar-menu-toggle.show .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.navbar-menu-toggle.show .bar:nth-child(2) {
		opacity: 0;
	}

	.navbar-menu-toggle.show .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}
}

@media screen and (max-width: 750px) {
	.header-logo {
		flex-shrink: 1;
		width: 85%;
		border-right: none;
	}

	main {
		flex-direction: column;
		grid-template-columns: auto;
		width: 100%;
		gap: 0.5rem;
		margin: calc(5vw + 2.5rem) 0 2.5rem;
		padding: 0 1.5rem;
	}

	aside {
		position: static;
		display: block;

		height: fit-content;
		width: 100%;

		margin: 0.5rem 0;
	}

	article {
		width: 100%;
		margin: 0.5em auto;
	}
}

@media screen and (max-width: 450px) {
	header {
		flex-direction: column;
		align-items: center;

		height: auto;
		padding: 0;
		margin: 0;
	}

	.header-logo svg {
		height: auto;
		width: 95vw;
	}

	main {
		margin: 0;
		padding: 0;
	}

	aside {
		margin-top: calc(var(--header-height) * 1.4);
		border-radius: 0;
	}

	article {
		width: 100%;
		padding: none;
		margin: none;
		border: none;
		border-top: 2px solid var(--secondary-border-color);
	}
}

@media screen and (max-width: 350px) {
	.navbar-menu-toggle {
		padding: 2px;
	}

	.navbar-menu {
		position: fixed;
		align-items: center;
		inset: var(--header-height) 0 0 0; /* top = header height, rest 0 */

		width: 100vw;

		gap: clamp(0.5rem, 5vw, 2rem);
		padding: 1rem 0.5rem;
		border-left: none;
	}

	.navbar-menu li a {
		display: block;

		width: min(92vw, 320px);

		padding: clamp(0.5rem, 8vw, 1.5rem) clamp(0.6rem, 3vw, 1rem);
		border-radius: 6px;
	}
}
